syntax: glob
desktop.ini
obj/
*.suo
*.sln.cache
*.orig
*.user
*Thumbs.db
build
buildazure
buildtasks
artifacts
robots.txt

syntax: regexp
(?i)src/.*bin/.*
src/Orchard.Web/App_Data/(?!Localization).+
src/Orchard.Web/Media/(?!Web.config|OrchardLogo.png).+
node_modules
typings/
src/packages/*
packages/
.vs/*
wwwroot/(?!.placeholder).+